.pokemon-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-size: cover;
    border-radius: 10px;
    border: solid 2px black;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
    color: white;
    padding: 20px;
    gap: 20px;
}

.pokemon-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../../assets/pokedexBg.jpg') center center no-repeat;
    filter: brightness(50%);
    background-size: cover;
    border-radius: 7px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.link-back {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: .5;
    transition: .2s ease-in-out;
}

.link-back:hover {
    opacity: 1;
}

.btn-back {
    transform: rotate(180deg);
    width: 15px;
}

.overview {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    min-width: 250px;
    justify-content: center;
    align-items: center;
    /* background: url('../../assets/pokeball2.png') center center no-repeat white;
    background-size: 80%;
    color: black; */
    border-radius: 10px;
}

.info-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 250px;
    height: 100%;
    padding: 0 20px;
}

.info-img-container img {
    width: 100%;
    height: 100%;
    max-height: 350px;
    filter: drop-shadow(20px 10px 4px rgba(0, 0, 0, 0.411));
}

.info-types {
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 10px;
}

.info-types .type {
    opacity: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 60%;
}

.abilities {
    display: flex;
    flex-direction: column;
    height: 50%;
    overflow-y: scroll;
}

.abilities-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.abilities h3, .moves h3 {
    font-weight: 700;
    font-size: 20px;
    margin: 10px 0;
}

.ability {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 10px;
    max-width: 250px;
}

.ability-name {
    font-size: 15px;
    font-weight: 700;
}

.ability-desc {
    font-size: 12px;
    text-align: justify;
    line-height: 17px;
}

.moves {
    overflow-y: scroll;
    padding-right: 5px;
    height: 50%;
}

.infos-move {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 12px;
    gap: 5px;
}