.pokemon-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-size: cover;
    border-radius: 10px;
    border: solid 2px black;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
    color: white;
}

.pokemon-info::before {
    content: '';
    position: absolute;
    background: url('../../assets/pokedexBg.jpg') center center no-repeat;
    filter: brightness(50%);
    background-size: cover;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.link-back {
    position: absolute;
    top: 10px;
    left: 10px;
}

.btn-back {
    transform: rotate(180deg);
    width: 20px;
}

.overview {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 30%;
    min-width: 250px;
    justify-content: center;
    align-items: center;
}

.info-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 250px;
    height: 100%;
}

.info-img-container img {
    width: fit-content;
    height: fit-content;
    transform: scale(2.5);
}

.info-types {
    display: flex;
    width: 250px;
    gap: 10px;
    padding-left: 10px;
}

.info-types .type {
    opacity: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    max-width: 600px;
    padding: 20px;
}

.abilities {
    display: flex;
    flex-direction: column;
    min-height: 30%;
    overflow-y: scroll;
    padding-right: 5px;
}

.abilities-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.abilities h3, .moves h3 {
    font-weight: 700;
    font-size: 20px;
    margin: 10px 0;
}

.ability {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 250px;
}

.ability-name {
    font-size: 15px;
    font-weight: 700;
}

.ability-desc {
    font-size: 12px;
    text-align: justify;
}

.moves {
    overflow-y: scroll;
    padding-right: 5px;
    max-height: 60%;
}

.infos-move {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 12px;
    gap: 5px;
}