.btn-border {
    background: linear-gradient(45deg, #0255f7 0%, #00e4d1 100%);
    border-radius: 10px;
    margin: 5px 0;
}

.btn {
    margin: 2px;
    padding: 15px 40px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    background: linear-gradient(45deg, #0255f7 0%, #00e4d1 100%);
    color: white;
    transition: .1s ease-in-out;
}

.btn-border:hover .btn {
    letter-spacing: 1px;
}