.main {
    background: url('../../assets/bg.png');
    width: 100vw;
    height: 100vh;
    padding: var(--background-paddingY) var(--background-paddingX);
}

.pokedex {
    height: 100%;
    padding: 0px var(--pokedex-border) var(--pokedex-border);
    background-color: #ce0627;
    border-radius: 10px;
    border: solid 2px black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.border {
    width: 100%;
    height: calc(100% - (2 * var(--list-border)));
    padding: 0px var(--list-border);
    background-color: #DEDEDE;
    border-radius: 10px;
    border: solid 2px black;
}

.border-top {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: var(--list-border);
    position: relative;
}

.border-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: var(--list-border);
}

.top-style {
    display: flex;
    padding: 10px 0;
    gap: 30px;
}

.ball-border {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEDEDE;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: solid 2px black;
}

.ball-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28AAFE;
    width: 93px;
    height: 93px;
    border-radius: 50%;
    border: solid 2px black;
}

.ball-shadow {
    background-color: #1c77b4;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.ball-inside {
    display: flex;
    background-color: #28AAFE;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px 0 0 5px;
}

.ball-white-dot {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px 0 0 5px;
}

.top-dots {
    display: flex;
    gap: 30px;
}

.top-dot {
    width: 20px;
    height: 20px;
    border: solid 2px black;
    border-radius: 50%;
}

.dot1 {
    background-color: red;
}

.dot2 {
    background-color: yellow;
}

.dot3 {
    background-color: #00ff00;
}

.dots {
    position: absolute;
    display: flex;
    gap: 50px;
}

.dot {
    background-color: #DC0A2D;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: solid 2px black;
}

.bigger-dot {
    background-color: #DC0A2D;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: solid 2px black;
}

.hamburger-container {
    display: flex;
    position: relative;
    width: 30px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hamburger1,
.hamburger2,
.hamburger3 {
    width: 30px;
    height: 6px;
    background-color: grey;
    border-radius: 6px;
    border: solid 2px black;
    position: absolute;
}

.hamburger1 {
    transform: translateY(-10px);
}

.hamburger3 {
    transform: translateY(10px);
}