.main {
    background: url('../../assets/bg.png') center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: var(--background-paddingY) var(--background-paddingX);
}

.pokedex {
    height: 100%;
    padding: 0px var(--pokedex-border) var(--pokedex-border);
    background-color: #ce0627;
    border-radius: 10px;
    border: solid 2px black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.top-style {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}

.left-details {
    display: flex;
    gap: 30px;
}

.ball-border {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEDEDE;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: solid 2px black;
}

.ball-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28AAFE;
    width: 93px;
    height: 93px;
    border-radius: 50%;
    border: solid 2px black;
}

.ball-shadow {
    display: flex;
    background-color: #1c77b4;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.ball-inside {
    display: flex;
    background-color: #28AAFE;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
}

.ball-white-dot {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
}

.border {
    width: 100%;
    height: calc(100% - (2 * var(--list-border)));
    padding: 0px var(--list-border);
    background-color: #DEDEDE;
    border-radius: 10px;
    border: solid 2px black;
}

.border-top {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: var(--list-border);
    position: relative;
}

.children {
    height: calc(100% - (2 * var(--list-border)));
}

.border-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: var(--list-border);
}

.top-dots {
    display: flex;
    gap: 30px;
}

.top-dot {
    width: 20px;
    height: 20px;
    border: solid 2px black;
    border-radius: 50%;
}

.dot1 {
    background-color: red;
}

.dot2 {
    background-color: yellow;
}

.dot3 {
    background-color: #00ff00;
}

.dots {
    position: absolute;
    display: flex;
    gap: 50px;
}

.dot {
    background-color: #DC0A2D;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: solid 2px black;
}

.bigger-dot {
    background-color: #DC0A2D;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: solid 2px black;
}

.hamburger-container {
    display: flex;
    width: 30px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.hamburger1,
.hamburger2,
.hamburger3,
.hamburger4 {
    width: 30px;
    height: 4px;
    background-color: black;
    border-radius: 4px;
}

@media (max-width: 1600px) {
    .pokedex {
        padding: 0 calc(var(--pokedex-border) - 20px) calc(var(--pokedex-border) - 20px);
    }

    .border {
        padding: 0 calc(var(--list-border) - 20px);
    }
}

@media (max-width: 1450px) {
    .pokedex {
        padding: 0 calc(var(--pokedex-border) - 40px) calc(var(--pokedex-border) - 40px);
    }

    .border {
        padding: 0 calc(var(--list-border) - 40px);
    }
}

@media (max-width: 1150px) {
    .main {
    padding: var(--background-paddingY) calc(var(--background-paddingX) - 14%);
    }
}