.card {
    background-color: #82e982;
    width: 200px;
    height: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 67px 53px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.card:hover span {
    height: 22px;
    padding: 2px 7px;
}

.img-container {
    display: flex;
    width: fit-content;
    height: 50%;
    align-items: flex-end;
}

.img-container img {
    width: fit-content;
    height: fit-content;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

p {
    font-size: 20px;
}

span {
    height: 0;
    overflow: hidden;
    transition: .3s ease-in-out;
    background-color: white;
    color: #82e982;
    border-radius: 15px;
}