.card {
    background-color: #82e982;
    width: 180px;
    height: 180px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: white;
    padding: 10px;
    transition: .3s ease-in-out;
}

.card .card-header {
    display: flex;
    justify-content: space-between;
    width: 160px;
}

.types {
    display: flex;
    height: 0;
    overflow: hidden;
    gap: 5px;
}

.card:hover .types {
    height: 24px;
    transition: .1s ease-in-out;
}

.type {
    color: black;
    background-color: white;
    opacity: .7;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
}

.id {
    height: 27px;
    color: black;
    opacity: .7;
    padding: 5px 0px;
    font-size: 12px;
}

.img-container {
    display: flex;
    width: 110px;
    height: 110px;
    align-items: center;
    justify-content: center;
}

.img-container img {
    width: fit-content;
    height: fit-content;
    max-height: 100px;
}

.name {
    font-size: 25px;
}