.pokemon-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.pokemons-section {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    background: url('../../assets/pokedexBg.jpg') center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: solid 2px black;
    height: calc(100% - (2 * var(--list-border)) );
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
    border: solid 2px black;
}